:root {
  --accent: var( {{ $.Site.Params.theme.accent }});
  --background: var( {{ $.Site.Params.theme.background }});
  --color: var( {{ $.Site.Params.theme.text }});
  --border-color: var( {{ $.Site.Params.theme.border }});
}
