{{ define "main" }}
  {{ if .Content }}
    <div class="index-content {{ if .Params.framed -}}framed{{- end -}}">
      {{ .Content }}
    </div>
  {{ end }}
  <div class="posts">
    {{ range (.Paginate .Pages).Pages }}
      {{ partial "components/page/long-ref" . }}
    {{ end }}
    {{ template "_internal/pagination.html" . }}
  </div>
{{ end }}
