{{ define "main" }}
  <div class="terms">
    <h1>{{ .Title }}</h1>
    <ul>
      {{ $type := .Type }}
      {{ range $key, $value := .Data.Terms.Alphabetical }}
      {{ $name := .Name }}
      {{ $count := .Count }}
      {{ with $.Site.GetPage (printf "/%s/%s" $type $name) }}
        <li>
          <a href="{{ .Permalink }}">{{ .Name }} ({{ $count }})</a>
        </li>
      {{ end }}
      {{ end }}
    </ul>
  </div>
{{ end }}
