/* LineTableTD */ .chroma .lntd { vertical-align: top; padding: 0; margin: 0; border: 0; }
/* LineTable */ .chroma .lntable { border-spacing: 0; padding: 0; margin: 0; border: 0; width: auto; overflow: auto; display: block; }
/* LineHighlight */ .chroma .hl { display: block; width: 100%;background-color: #ffffcc }
/* LineNumbersTable */ .chroma .lnt { margin-right: 0.4em; padding: 0 0.4em 0 0.4em;color: var(--base02) }
/* LineNumbers */ .chroma .ln { margin-right: 0.4em; padding: 0 0.4em 0 0.4em;color: var(--base02) }


.chroma  { background: var(--background); color: var(--base07) }
.chroma .bp { color: var(--base07) } /* Name.Builtin.Pseudo */
.chroma .c  { color: var(--base03) } /* Comment */
.chroma .c1 { color: var(--base03) } /* Comment.Single */
.chroma .ch { color: var(--base03) } /* Comment.Hashbang */
.chroma .cm { color: var(--base03) } /* Comment.Multiline */
.chroma .cp { color: var(--base03) } /* Comment.Preproc */
.chroma .cpf { color: var(--base03) } /* Comment.PreprocFile */
.chroma .cs { color: var(--base03) } /* Comment.Special */
.chroma .dl { color: var(--green) } /* Literal.String.Delimiter */
.chroma .err { color: var(--red) } /* Error */
.chroma .fm {                } /* Name.FunctionMagic */
.chroma .g  {                } /* Generic */
.chroma .gd { color: var(--red) } /* Generic.Deleted */
.chroma .ge { font-style: italic } /* Generic.Emph */
.chroma .gh { color: var(--base07); font-weight: bold } /* Generic.Heading */
.chroma .gi { color: var(--green) } /* Generic.Inserted */
.chroma .gl {                } /* Generic.Underline */
.chroma .go {                } /* Generic.Output */
.chroma .gp { color: var(--base03); font-weight: bold } /* Generic.Prompt */
.chroma .gr { color: var(--red); font-weight: bold } /* Generic.Error */
.chroma .gs { font-weight: bold } /* Generic.Strong */
.chroma .gt {                   } /* Generic.Traceback */
.chroma .gu { color: var(--cyan); font-weight: bold } /* Generic.Subheading */
.chroma .hll { background-color: var(--base02) }
.chroma .il { color: var(--orange) } /* Literal.Number.Integer.Long */
.chroma .k  { color: var(--purple) } /* Keyword */
.chroma .kc { color: var(--purple) } /* Keyword.Constant */
.chroma .kd { color: var(--purple) } /* Keyword.Declaration */
.chroma .kn { color: var(--cyan) } /* Keyword.Namespace */
.chroma .kp { color: var(--purple) } /* Keyword.Pseudo */
.chroma .kr { color: var(--purple) } /* Keyword.Reserved */
.chroma .kt { color: var(--yellow) } /* Keyword.Type */
.chroma .l  { color: var(--orange) } /* Literal */
.chroma .ld { color: var(--green) } /* Literal.Date */
.chroma .m  { color: var(--orange) } /* Literal.Number */
.chroma .mb { color: var(--orange) } /* Literal.Number.Bin */
.chroma .mf { color: var(--orange) } /* Literal.Number.Float */
.chroma .mh { color: var(--orange) } /* Literal.Number.Hex */
.chroma .mi { color: var(--orange) } /* Literal.Number.Integer */
.chroma .mo { color: var(--orange) } /* Literal.Number.Oct */
.chroma .n  { color: var(--base07) } /* Name */
.chroma .na { color: var(--blue) } /* Name.Attribute */
.chroma .nb { color: var(--base07) } /* Name.Builtin */
.chroma .nc { color: var(--yellow) } /* Name.Class */
.chroma .nd { color: var(--cyan) } /* Name.Decorator */
.chroma .ne { color: var(--red) } /* Name.Exception */
.chroma .nf { color: var(--blue) } /* Name.Function */
.chroma .ni { color: var(--base07) } /* Name.Entity */
.chroma .nl { color: var(--base07) } /* Name.Label */
.chroma .nn { color: var(--yellow) } /* Name.Namespace */
.chroma .no { color: var(--red) } /* Name.Constant */
.chroma .nt { color: var(--cyan) } /* Name.Tag */
.chroma .nv { color: var(--red) } /* Name.Variable */
.chroma .nx { color: var(--blue) } /* Name.Other */
.chroma .o  { color: var(--cyan) } /* Operator */
.chroma .ow { color: var(--cyan) } /* Operator.Word */
.chroma .p  { color: var(--base07) } /* Punctuation */
.chroma .py { color: var(--base07) } /* Name.Property */
.chroma .s  { color: var(--green) } /* Literal.String */
.chroma .s1 { color: var(--green) } /* Literal.String.Single */
.chroma .s2 { color: var(--green) } /* Literal.String.Double */
.chroma .sa { color: var(--green) } /* Literal.StringAffix */
.chroma .sb { color: var(--green) } /* Literal.String.Backtick */
.chroma .sc { color: var(--base07) } /* Literal.String.Char */
.chroma .sd { color: var(--base03) } /* Literal.String.Doc */
.chroma .se { color: var(--orange) } /* Literal.String.Escape */
.chroma .sh { color: var(--green) } /* Literal.String.Heredoc */
.chroma .si { color: var(--orange) } /* Literal.String.Interpol */
.chroma .sr { color: var(--green) } /* Literal.String.Regex */
.chroma .ss { color: var(--green) } /* Literal.String.Symbol */
.chroma .sx { color: var(--green) } /* Literal.String.Other */
.chroma .vc { color: var(--red) } /* Name.Variable.Class */
.chroma .vg { color: var(--red) } /* Name.Variable.Global */
.chroma .vi { color: var(--red) } /* Name.Variable.Instance */
.chroma .vm {                } /* Name.VariableMagic */
.chroma .w  { color: var(--base07) } /* Text.Whitespace */
.chroma .x  { color: var(--orange) } /* Other */
