
:root {
  /* variables for js, must be the same as these in @custom-media queries */
  --phoneWidth: (max-width: 684px);
  --tabletWidth: (max-width: 900px);
}

@custom-media --phone (max-width: 684px);
@custom-media --tablet (max-width: 900px);


@import 'palette';
@import 'font';
@import 'buttons';
@import 'code';
@import 'header';
@import 'logo';
@import 'main';
@import 'post';
@import 'pagination';
@import 'footer';
@import 'terms';
