{{- $cover := false -}}
{{- $autoCover := default $.Site.Params.autoCover false }}
{{- if index .Params "cover" -}}
  {{- if .Resources.GetMatch .Params.Cover }}
    {{- $cover = (.Resources.GetMatch .Params.Cover).RelPermalink -}}
  {{- else -}}
    {{- $cover = absURL .Params.Cover -}}
  {{- end -}}
{{- else if $.Site.Params.AutoCover -}}
  {{- if .Resources.GetMatch "cover" -}}
    {{- $cover = (.Resources.GetMatch "cover").RelPermalink -}}
  {{- end -}}
{{- end -}}
{{if $cover -}}
  <!-- Cover image found -->
  <figure class="post-cover">
    <img src="{{ $cover }}"
      alt="{{ .Title | plainify | default " " }}"
      title="{{ .Params.CoverCredit |plainify|default "Cover Image" }}" />
    <figcaption>
      {{ with .Params.CoverCredit }}
          <a href="{{ . }}">Source</a>
      {{ end }}
    </figcaption>
  </figure>
{{- end }}
