<div class="post on-list">
  <h1 class="post-title">
    <a href="{{ .Permalink }}">{{ .Title | markdownify }}</a>
  </h1>
  <div class="post-meta">
    <span class="post-date">
      {{ .Date.Format "2006-01-02" }}
    </span>
    {{ with .Params.Author }}
      <span class="post-author">:: {{ . }}</span>
    {{ end }} ::
    {{ .ReadingTime }} min read
    {{ partial "components/page/rating.html" . }}
  </div>

  {{ if .Params.tags }}
    <span class="post-tags">
      {{ range .Params.tags }}
      #<a href="{{ (urlize (printf "tags/%s/" . )) | absLangURL }}">
        {{- . -}}
      </a>&nbsp;
      {{ end }}
    </span>
  {{ end }}

  {{ partial "components/page/cover.html" . }}

  <div class="post-content">
    {{ if .Params.showFullContent }}
    {{ .Content | markdownify }}
    {{ else if .Description }}
    {{ .Description | markdownify }}
    {{ else }}
    {{ if .Truncated }}
    {{ .Summary }}
    {{ end }}
    {{ end }}
  </div>
</div>
