{{ define "main" }}
  <div class="post">
    <h1 class="post-title">404 — {{ $.Site.Params.missing.message | default "Page not found..." }}</h1>

    <div class="post-content">
      <a href="{{ if $.Site.Params.Logo.LogoHomeLink }}{{ $.Site.Params.Logo.LogoHomeLink }}{{else}}{{ $.Site.BaseURL }}{{ end }}">{{ $.Site.Params.missing.backLabel | default "Back to home page" }}&nbsp;→</a>
    </div>

  </div>
{{ end }}
